/AhujaOrlinSharmaCyclicExchangeLocalAugmentationTest.class
/BergeGraphInspectorTest.class
/ChinesePostmanTest.class
/ChordalGraphMinimalVertexSeparatorFinderTest.class
/ChordalityInspectorTest.class
/CycleDetectorTest.class
/CyclesTest.class
/DirectedSimpleCyclesTest.class
/HawickJamesSimpleCyclesTest.class
/HierholzerEulerianCycleTest.class
/HowardMinimumMeanCycleTest.class
/JohnsonSimpleCyclesTest.class
/PatonCycleBaseTest.class
/QueueBFSFundamentalCycleBasisTest.class
/StackBFSFundamentalCycleBasisTest.class
/WeakChordalityInspectorTest.class
