/AlphaCentralityTest.class
/BetweennessCentralityTest.class
/ClosenessCentralityTest.class
/ClusteringCoefficientTest.class
/CorenessTest.class
/EdgeBetweennessCentralityTest.class
/EigenvectorCentralityTest.class
/HarmonicCentralityTest.class
/KatzCentralityTest.class
/PageRankTest.class
