/FastTestSuite.class
/GraphMetricsTest.class
/GraphTestsTest.class
/GraphTestsUtils.class
/GraphsTest.class
/IntegrationTestSuite.class
/OptionalTests.class
/PerformanceTestSuite.class
/SlowTests.class
/TestUtil.class
