/MinimumSpanningTreePerformanceTest$BenchmarkBase.class
/MinimumSpanningTreePerformanceTest$BoruvkaBenchmark.class
/MinimumSpanningTreePerformanceTest$KruskalBenchmark.class
/MinimumSpanningTreePerformanceTest$PrimBenchmark.class
/MinimumSpanningTreePerformanceTest.class
