/AdamicAdarIndexLinkPredictionTest.class
/CommonNeighborsLinkPredictionTest.class
/HubDepressedIndexLinkPredictionTest.class
/HubPromotedIndexLinkPredictionTest.class
/JaccardCoefficientLinkPredictionTest.class
/LeichtHolmeNewmanIndexLinkPredictionTest.class
/PreferentialAttachmentIndexLinkPredictionTest.class
/ResourceAllocationIndexLinkPredictionTest.class
/SaltonIndexLinkPredictionTest.class
/SÃ.class
