/BaseColoringTest.class
/BrownBacktrackColoringTest.class
/ChordalGraphColoringTest.class
/ColorRefinementAlgorithmTest.class
/GreedyColoringTest.class
/LargestDegreeFirstColoringTest.class
/RandomGreedyColoring2Test.class
/RandomGreedyColoringTest.class
/SaturationDegreeColoringTest.class
/SmallestDegreeLastColoringTest.class
