/AhujaOrlinSharmaCapacitatedMinimumSpanningTreeTest.class
/BoruvkaMinimumSpanningTreeTest.class
/EsauWilliamsCapacitatedMinimumSpanningTreeTest.class
/GreedyMultiplicativeSpannerTest.class
/KruskalMinimumSpanningTreeTest.class
/MinimumSpanningTreeTest.class
/PrimMinimumSpanningTreeTest.class
